.fundraisingCard {
  background: white;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.progressCircle {
  margin-bottom: 12px;
}

.amountCollected {
  font-size: 25px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #17A34A;
}

.text {
  color: #666;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.goalDetails {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #E0E0E0;
}

.shareButton {
  background: #17A34A;
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.shareButton:hover {
  background: #14963E;
}

.deleteButton {
  background: #FFECEC;
  color: #D9534F;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.deleteButton:hover {
  background: #D9534F;
  color: white;
}

.donateButton {
  background: #17A34A;
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.donateButton:hover {
  background: #14963E;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .fundraisingCard {
    width: 100%; /* Ширина 100% для мобильной версии */
    padding: 16px; /* Уменьшаем отступы для мобильной версии */
  }

  .amountCollected {
    font-size: 20px; /* Меньший размер шрифта на мобильных */
    margin-top: 0;
    margin-bottom: 5px;
  }

  .text {
    font-size: 14px; /* Меньший размер шрифта для мобильных */
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .goalDetails {
    font-size: 14px; /* Уменьшаем размер шрифта */
    padding: 8px 0; /* Уменьшаем отступы */
  }

  .shareButton,
  .deleteButton,
  .donateButton {
    font-size: 16px; /* Меньший размер шрифта на мобильных */
    padding: 10px;
    border-radius: 10px; /* Меньше радиус для мобильной версии */
    margin-top: 8px; /* Уменьшаем отступы между кнопками */
  }

  .shareButton {
    background: #17A34A;
    transition: all 0.3s ease-in-out;
  }

  .shareButton:hover {
    background: #14963E;
  }

  .deleteButton {
    background: #FFECEC;
    color: #D9534F;
    transition: all 0.3s ease-in-out;
  }

  .deleteButton:hover {
    background: #D9534F;
    color: white;
  }

  .donateButton {
    background: #17A34A;
    transition: all 0.3s ease-in-out;
  }

  .donateButton:hover {
    background: #14963E;
  }
}


