.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    background: linear-gradient(to right, #49C2A7, #235C4F);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    width: 45%;
    cursor: pointer;
    transition: background-color 0.3s;
}
  