.section {
    margin-top: 40px;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.viewAll {
    color: #76D0C2;
    text-decoration: none;
    font-size: 25px;
    margin-right: 1rem;
}

.cardWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rank {
    font-size: 200px;
    font-weight: 400;
    font-family: 'MonteCarlo', cursive;
    color: #76D0C2;
    opacity: 0.4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}
