.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  @media (max-width: 768px) {
    padding: 0;
  }


  }
  
.form {
    display: flex;  
    flex-direction: column;
    gap: 20px;
}
  
.submitTools {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
  
  .submitTools h3 {
    margin: 0;
    font-size: 16px;
    color: #3E7D82; 
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #0078be;
    }
  }
  
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  color: #3e7d82;
  font-size: 20px;
  font-weight: 500;
  gap: 10px;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: #3E7D82;
  border-radius: 20px;

}

.text {
  white-space: nowrap;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-55%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;

  &:hover {
    fill: #000;
  }
}
