.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  @media (max-width: 768px) {
    padding: 0;
  }


  }
  
.form {
    display: flex;  
    flex-direction: column;
    gap: 20px;
}
  
.submitTools {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
  
  .submitTools h3 {
    margin: 0;
    font-size: 16px;
    color: #3E7D82; 
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #0078be;
    }
  }
  
.error {
    color: red;
    font-size: 14px;
}
  