.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #C4EBE4;
  padding: 25px;
  border-radius: 20px;
  width: 550px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.5);
    background: none;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #000;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.linkContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.linkInput {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
}

.copyButton {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #0078be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;

  &:hover {
    background-color: #005f9a;
  }

  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: white;
  }
}

.description {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.socialIcons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
  margin-bottom: 15px;
}

.socialButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #000;
  transition: all 0.2s;
  width: 100%;
  justify-content: flex-start;
  text-decoration: none;

  &:hover {
    color: #0078be;
    transform: scale(1.05);
  }

  svg {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
  }
}

.footerText {
  font-size: 20px;
  color: #000;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  .socialIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title {
    font-size: 24px;
  }

  .copyButton {
    font-size: 0.8rem;
    padding: 8px 15px;
  }

  .socialButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .socialButton svg {
    width: 50px;
    height: 50px;
  }

  .footerText {
    font-size: 18px;
  }
}