.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.mainContent {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.leftColumn {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.rightColumn {
  flex: 1;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  width: 100%;
  box-sizing: border-box;
}

.authorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0.1, 0.1, 0.1, 0.1);
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
}

.authorAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #17a34a;
}

.authorName {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-bottom: 10px;
}

.postDate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postStats {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postStats svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postStats span {
  font-size: 15px;
  font-weight: bold;
}

.postTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.categoryTag {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #4bb89e;
  text-transform: capitalize;
  text-align: left;
}

.postTitle h1 {
  font-size: 25px;
  font-weight: bold;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.editButton:hover {
  background: none;
  transform: scale(1.2);
}

.saveButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.saveButton:hover {
  background: none;
  transform: scale(1.2);
}

.imageContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.contactBox {
  background-color: #f3fbf9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: #333;
  width: 100%;
  word-break: break-word;
}

.contactTitle {
  font-size: 18px;
  font-weight: bold;
  color: #49c2a7;
  margin-bottom: 10px;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 15px;
}

.fullImage {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  display: block;
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
  z-index: 3;
  transition: background 0.3s ease;
}

.closeButton:hover {
  background: darkred;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* тёмный фон */
  color: white;
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s ease;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover, .nextButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.cardSpacing {
  margin-top: 30px;
  width: 100%;
}

.mobileEdit {
  display: none;
}

.desktopEdit {
  display: flex;
}

.categoryStatusRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.statusTag {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 30px;
  text-transform: uppercase;
}

.active {
  background-color: #e0f7ec;
  color: #17a34a;
}

.pending {
  background-color: #fff4cc;
  color: #e9a100;
}

.archived {
  background-color: #eee;
  color: #999;
}

.successful {
  background-color: #A2F5C8;
  color: #05623C;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .postTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .postTitle h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0;
  }

  .authorContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .authorAvatar {
    width: 40px;
    height: 40px;
  }

  .authorName {
    font-size: 16px;
    font-weight: bold;
  }

  .description {
    font-size: 16px;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
  }

  .postHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .donorList, .relatedPosts, .commentSection {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }

  .commentBox{
    margin-top: 20px;
  }

  .categoryStatusRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
  }

  .statusTag {
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 20px;
  }

  .desktopEdit {
    display: none;
  }

  .mobileEdit {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cardSpacing {
    margin-top: 15px;
    width: 100%;
  }

  .fundraisingCard, .contactBox {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  /* Для поста */
  .imageContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
}
