.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 40px 40px 40px;
  @media (max-width: 768px) {
    padding: 0;
  }
}
  
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.submitButton{
  display: flex;
  justify-content: space-around;
}
  