.aboutPage {
  max-width: 100%;
  margin: 0 auto;
  //padding: 20px ;
  position: relative;
}

.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  padding-left: 50px;
  max-width: 100%;
  overflow: hidden;
  height: 70vh;
}

.heroText {
  flex: 1;
  max-width: 90%;
  z-index: 4;
}

.heroText h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.heroText p {
  font-size: 20px;
  color: #555;
}

.heroLogo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 4; /* Поверх кругов */
}

.heroLogo img {
  max-width: 60%;
  height: auto;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  width: 55vw;
  height: 55vw;
  //top: -10%;
  right: 0; /* Убираем отступ справа */
  transform: translateX(50%); /* Перемещаем центр круга за границы экрана */
  background-color: #C4EBE4;
  z-index: 1;
}

.circle2 {
  width: 50vw;
  height: 50vw;
  //top: -5%;
  right: 0;
  transform: translateX(50%);
  background-color: #99DDD0;
  z-index: 2;
}

.circle3 {
  width: 45vw;
  height: 45vw;
  //top: 0%;
  right: 0;
  transform: translateX(50%);
  background-color: #76D0C2;
  z-index: 3;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .heroSection {
    justify-content: space-around; /* Выравниваем контент */
  }

  .heroLogoContainer {
    max-width: 40%; /* Уменьшаем логотип */
  }
}
/* Скрываем логотип и круги на экранах меньше 425px */
@media (max-width: 425px) {
  .heroLogo {
    display: none;
  }
}


.valuesSection {
  text-align: center;
  margin-top: 50px;
}

.valuesGrid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.valueCard {
  flex: 1 1 30%; /* Три карточки в ряд на больших экранах */
  max-width: 350px; /* Чтобы не становились слишком большими */
  min-width: 300px;
  border: 1px solid #C4EBE4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 calc(50% - 20px); /* Две карточки в ряд на планшетах */
  max-width: 400px; /* Ограничение по ширине */
}

.valueCard h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.valueCard h3::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #76D0C2;
  margin: 6px auto 0;
}
.valueCard p {
  font-size: 20px;
  line-height: 32px;
}


@media (max-width: 1024px) {
  .valuesGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .valueCard {
    width: 100%; /* Равные размеры карточек */
    max-width: 400px;
    min-height: 200px; /* Одинаковая высота */
  }
}
@media (max-width: 425px) {
  .valueCard {
    padding: 12px;
    min-height: 120px;
    font-size: 13px;
    max-width: 80%;
  }
}
.howItWorks {
  text-align: center;
  padding: 50px 5%;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.videoPlaceholder {
  width: 100%;
  max-width: 800px;
  height: 500px;
  background: #c4ebe4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.playIcon {
  font-size: 50px;
  color: #0078be;
  cursor: pointer;
}

/* Секция статистики */
.statsSection {
  text-align: center;
  padding: 20px 5%;
}

.statsGrid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  //margin-top: 20px;
}

.statCard {
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statCard strong {
  font-size: 24px;
  color: #0078be;
  font-weight: bold;
}

.statCard p {
  font-size: 16px;
  color: #333;
}

/* Адаптивность */
@media (max-width: 768px) {
  .videoPlaceholder {
    height: 250px;
  }

  .statsGrid {
    flex-direction: column;
    align-items: center;
  }

  .statCard {
    width: 100%;
    max-width: 300px;
  }
}

